{
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "all",
  "semi": true,
  "printWidth": 100,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["tw", "tv", "cn", "clsx"],
  "tailwindAttributes": ["tw", "tv", "cn", "clsx"],
  "importOrder": [
    "^react(.*)?$",
    "^@react(.*)?$",
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$",
    "^~(.*)$",
    "^(?!.*\\.css$)[./].*$",
    "\\.css$"
  ]
}
